.body{
	max-width:640px;
	margin:auto;
	min-height:100%;
	background-color:#e1e0de;
	position:relative;
}

.body{
	display:block;
	background:#282828;
}

/******************************/
.header2{
	position: relative;
}
.header2 img{
	width:100%;
	min-height:100px;
	max-height:500px;
}
.header2 .list_icons{
	overflow: hidden;
	text-align: center;
	position:absolute;
	bottom:80px;
	width:100%;
	left:0;
	white-space: nowrap;
}
.header2 .list_icons li{
	display: inline-block;
}
.header2 .list_icons li a{
	display: block;
	width:35px;
	height:35px;
	border-radius: 35px;
	border:1px solid #fff;
	background:rgba(0,0,0,0.3);
	margin:5px;
	line-height:35px;
	color:#fff;
	font-size:14px;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.header2 .list_icons li a>*{
	pointer-events:none;
}
.header2 .list_icons li a.on{
	background-color: rgba(232, 101, 33, 0.85);
}

/****/
.list_dots{
	text-align: center;
	text-align:center;
	position: absolute;
	z-index: 10;
	bottom:50px;
	left:0;
	width: 100%;
}
.list_dots li{
	width:8px;
	height:8px;
	background:#eaeaea;
	border-radius: 5px;
	display:inline-block;
	margin:3px;
}
.list_dots li.on{
	background:#cacaca;
}
/****/
.header2 a.tel{
	font-size:14px;
	padding-left:10px;
	display:block;
	width:100%;
	height:40px;
	line-height:40px;
	color:#fff;
	background:#f24400;
	-webkit-box-sizing:border-box;
}
.header2 a.tel span{
	float:right;
	margin-right:10px;
	border-radius:30px;
	border:3px solid #fff;
	height:30px;
	width:30px;
	-webkit-box-sizing:border-box;
	margin-top:5px;
	font-size:20px;
	text-indent:2px;
	line-height:25px;
}

.list_ul{
	overflow: hidden;
	
}
.list_ul dl{
	overflow:hidden;
	background:-webkit-gradient(linear, 0 0, 0 100%, from(#282828), to(#0e0e0e) );
	-webkit-background-size:100% 80px;
}
.list_ul dl dd{
	float:left;
	width:33.33%;
	-webkit-box-sizing:border-box;
	height:100px;
	height:80px;
}
.list_ul dl dd a{
	padding-top:20px;
	-webkit-box-sizing:border-box;
	display:block;
	height:100%;
	color:#858585;
	text-align:center;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.list_ul dl dd a>*{
	pointer-events:none;
}
.list_ul dl dd a.on{
	color:#fe5300;
}
.list_ul dl dd a p{
	height:30px;
	font-size:15px;
}
.list_ul dl dd a span[class*="icon"]{
	font-size:25px;
}

