.body{
	max-width:640px;
	margin:auto;
	min-height:100%;
	background-color:#ffffff;
	overflow-x:hidden;
	position:relative;
}


.nav{
	text-align:center;
	line-height:43px;
	border-top:1px solid #707070;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#707070), to(#393939));
	background: -moz-linear-gradient(center top , #707070, #393939);
}
.nav a{
	display:inline-block;
	width:100%;
	height:100%;
	color:#fff;
	text-shadow:1px 1px 1px rgba(0,0,0,0.5);
}
.nav li{
	background:url("../imgs/4.png") no-repeat right center transparent;
	-webkit-background-size:auto 80%;
	background-size:auto 100%;
}
.nav li:last-of-type{background:none;}



.card_lol img{
	width:60px;
	height:60px;
	margin:10px auto;
}

.card_lol label{
	display:block;
	width:100%;
	color:#686868;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	padding:0 5px;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
}

.card_lol a{
	display: inline-block;
	position:relative;
}


.card_lol{
		text-align:center;
		overflow: hidden;
	}
.card_lol li{
	margin:0 auto;
	width:25%;
	display: inline-block;
	float:left;
}