body, .weimob-content{
    background: #ebebeb;
}

.weimob-list-item{
    width:48%;
    height: 188px;
    display: inline-block;
    padding: 1%;
    background: inherit;
    border:none;
    -webkit-box-sizing: border-box;
}

.weimob-list-item-bg{
    min-height: 100%;
	box-shadow:2px 2px 3px #999;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    background: #FFFFFF;
}


.weimob-list-item-image{
    position: relative;
    margin: auto;
    left : 0;
    top:20px;
    width:96px;
    height: 96px;
    border-radius: 48px;
    -moz-border-radius: 48px;
    -webkit-border-radius: 48px;
    box-shadow: 2px 2px 2px #C0C0C0;
    -webkit-box-shadow:2px 2px 2px #C0C0C0;
    -moz-box-shadow:2px 2px 2px #C0C0C0;
    background-size: contain;
}

.weimob-list-item-box{
    top:35px;
    position: relative;
    margin: auto;
    display: table;
}

.weimob-list-item-line{
    padding: 0;
    margin: auto;
    text-align: center;
    max-width: 88%;
}
.weimob-copyright{ color:#000;}

.weimob-list-item-summary{
    overflow: hidden;
    margin:0 10px;
}