*{-webkit-box-sizing: border-box; margin:0px; padding:0px;}
.icon{font-size:24px; background-size:auto 28px;  width:30px; height:28px;}
.icon.camera{ background-position:0px 0px;}
.icon.sure{ background-position:-30px 0px;}
.icon.present{ background-position:-60px 0px;}
.icon.mark{ background-position:-90px 0px;}
.icon.cup { background-position:-120px 0px;}
.icon.download{ background-position:-150px 0px;}
.body{max-width:640px;margin:auto;min-height:100%;position:relative;display:block; font-size:12px; min-width:320px; padding-bottom:40px; }
.body .bg{ position:absolute; z-index:-1;  top:0; left:0; right:0; bottom:0; opacity:0.8; }
.body  .bg_black{position:absolute; z-index:-2;  top:0; left:0; right:0; bottom:0;  background:#000;}
.body .section_body .list{ padding: 0px 20px 20px 20px ;}
.body .section_body .list li{float:left;	width:33%; padding:6px;  }
.body .section_body .list li div .transparent-layer{ display:block; position:absolute; z-index:-1; width:100%; height:100%;opacity:0.2;background-color:#fff; border-radius:3px; }
.body .section_body .list li div{ width:100%; height:100%; position:relative; opacity:0.6;}
.body .section_body .list li div .tbox{ display:block; width:100%; height:100%; padding:25px 10px;; color:#fff; }
.body .section_body .list li div .tbox .title{ width:100%;  text-align:center; display:block; line-height:20px;}
.body .section_body .list li div .tbox .icon{ display:block; margin:5px auto;}
.body header{height:180px; padding:20px 15px 0;}
.body .section_body .nav{ width:60px; position:absolute; top:0; bottom:0; right:0px; background: #352f58; z-index:3000; display:none; }
.body .section_body .showlist{position:absolute; top:0; right:0; z-index:3000; width:50px; height:40px; border-radius:30px 0px 0px 30px; background:#4a436b; margin-top:5px;}
.body .section_body .showlist .icon{ background:url(../images/v84_nav.png) no-repeat; background-position:0 -150px; background-size:45px auto; width:35px; height:40px; float:right; margin-right:7px; }
.body .section_body .nav ul{ width:100%; height:100%; }
.body .section_body .nav ul li{ width:100%; height:50px; margin:15px 0; text-align:center; }
.body .section_body .nav ul li a{ height:100%; width:100%; display:block;color:#fff;}
.body .section_body .nav ul li .icon{ background:url(../images/v84_nav.png) no-repeat;  background-size:25px auto;  width:20px; height:20px;  margin:0 auto;}
.body .section_body .nav ul li .icon.phone{ background-position:0 0;}
.body .section_body .nav ul li .icon.card{ background-position: 0 -20px;}
.body .section_body .nav ul li .icon.home{ background-position: 0 -35px;}
.body .section_body .nav ul li .icon.addr{ background-position: 0 -55px;}