/*listhome3*/
#listhome3{
	background-color:#F0EFEF;
	margin: 0 auto;
    max-width: 640px;
    min-width: 320px;
	overflow-x: hidden;
}
#listhome3 .chatPanel{ 
}
#listhome3 .chatPanel .media {
	border:0px solid #D1D1D1;
	box-shadow:0 1px 2px 0 rgba(0, 0, 0, 0.15);
	-moz-box-shadow:0 1px 2px 0 rgba(0, 0, 0, 0.15);
	-webkit-box-shadow:0 1px 2px 0 rgba(0, 0, 0, 0.15);
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	background-color:#FFFFFF;
	margin: 15px 9px 0 10px;
}

#listhome3 .chatPanel .media .mediaPanel {
	padding:0px;
	margin:0px;
}

#listhome3 .chatPanel .media .mediaHead {
	/*height:48px;*/
		padding:15px 15px 4px;
	border-bottom:0px solid #D3D8DC;
	color:#000000;
	font-size:20px;
}
#listhome3 .chatPanel .media .mediaHead .title {
	line-height:1.2em;
	font-size:18px;
	display:block;
	text-align: left;/*height:25px;
		white-space:nowrap;
		text-overflow:ellipsis;
		-o-text-overflow:ellipsis;
		overflow:hidden;*/
	}

#listhome3 .chatPanel .media .mediaHead .time {
	margin:0px;
	margin-top: 5px;
	color:#8C8C8C;
	background:none;
	width:auto;
	font-size:12px;
	display:block;
}
#listhome3 .chatPanel .media .mediaImg {
	min-width: 260px;
	padding:0;
	margin:0 15px;
	overflow:hidden;
	position: relative;
	/*max-height:164px;*/
}
#listhome3 .chatPanel .media .mediaImg img {
	width: 100%;
}
#listhome3 .chatPanel .mediaFullText .mediaContent {
	padding:0 0 10px;
	font-size:16px;
	text-align:left;
	color:#222222;
}
#listhome3 .chatPanel .mediaFullText .mediaContentP {
	margin:10px 15px 0px;
	border-bottom:1px solid #D3D8DC;word-break:normal;
	word-wrap:word-break;
}
#listhome3 .chatPanel .mediaFullText .mediaContent p{
	max-height:40px; overflow:hidden; font-size:14px; 
	line-height: 1.5em;
}
#listhome3 .chatPanel .media .mediaFooter {
	-webkit-border-radius:0px 0px 12px 12px;
	-moz-border-radius:0px 0px 12px 12px;
	border-radius:0px 0px 12px 12px;
	padding: 0 15px;
}
#listhome3 .chatPanel .media .mesgIcon {
	display:inline-block;
	height:19px;
	width:13px;
	margin:8px 0px -2px 4px;
	background:url(ico-next2.png) no-repeat;
	background-size: 10px auto;
}
#listhome3 .chatPanel .media .mediaFooter .mesgIcon {
	margin:18px 3px 0 0;
}

#listhome3 .pagination{
	height: 70px;
    line-height: 70px;
    margin: 0 auto;
    text-align: center;
    width: 320px;
}
#listhome3 .pagination div{
	display:inline-block;
}
#listhome3 .pagination a {
	margin: 0 ;
    padding: 6px 27px;
	border:1px solid #D1D1D1;
	background:#fefefe;
	background-image:url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2U3ZTdlNyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==");
	background-size:100%;
	background-image:-webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fff), color-stop(100%, #f2f2f2));
	background-image:-webkit-linear-gradient(top, #fff, #f2f2f2);
	background-image:-moz-linear-gradient(top, #fff, #f2f2f2);
	background-image:-o-linear-gradient(top, #fff, #f2f2f2);
	background-image:linear-gradient(top, #fff, #f2f2f2);
	-webkit-box-shadow:0 0 6px 0 rgba(0, 0, 0, 0.1);
	-moz-box-shadow:0 0 6px 0 rgba(0, 0, 0, 0.1);
	box-shadow:0 0 6px 0 rgba(0, 0, 0, 0.1);
	-webkit-border-radius:20px 20px;
	-moz-border-radius:20px/20px;
	border-radius:20px/20px;
	color:#666;
	text-shadow:0 1px #fff
}
#listhome3 .pagination a:hover {
	border:1px solid #bebebe;
	background:#fefefe;
	background-image:url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZlZmVmZSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2RhZGFkYSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==");
	background-size:100%;
	background-image:-webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fefefe), color-stop(100%, #dadada));
	background-image:-webkit-linear-gradient(top, #fefefe, #dadada);
	background-image:-moz-linear-gradient(top, #fefefe, #dadada);
	background-image:-o-linear-gradient(top, #fefefe, #dadada);
	background-image:linear-gradient(top, #fefefe, #dadada)
}
#listhome3 .pagination a:active {
	background:#ececec
}
#listhome3 .pagination .disabled a, #listhome3 .pagination .disabled a:hover {
	background:none;
	border:1px solid #cbcbcb;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
	color:A4A3A3;
}
#listhome3 .pagination .allpage{
	position: relative;
    text-align: center;
    vertical-align: baseline;
	display: inline-block;
}
#listhome3 .pagination .currentpage{
    line-height: 30px;
    width: 70px;
}
#listhome3 #dropdown-select{position:absolute;
	top:0;
	left:0;
	height:30px;
	width:70px;
	opacity:0;
}