/**************eric****************/
.list_ul_top {
	position: relative;
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	width: 99999px;
	overflow:hidden;
}

.list_ul_top li {
	float: left;
}

.list_ul_top li img {
	cursor: hand;
	border: 0px;
}
.list_ul_top a{
	-webkit-tap-highlight-color: rgba(0,0,0,0.3);
	display:inline-block;
}


.list_ul_top a span{
	display: inline-block;
	height: 33px;
	line-height: 33px;
	text-align: center;
	text-decoration: none;
	color: #000000;
	padding: 0 7px 0 6px;
}

body{
    max-width:640px;
    margin:auto;
}
.logo{
	padding:5px;
	text-align: right;
}

footer{
    position:static;
    margin:20px!important;
    text-align:center!important;
}

.gradient_h_wbw {
	height: 1px;
	display: block;
	background: #ffffff;
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ffffff), color-stop(50%,#908e8e), color-stop(100%,#ffffff));
	background: linear-gradient(to right, #ffffff 0%,#908e8e 50%,#ffffff 100%);
}

/***************************************************/
.list_ul_scroll{
	position: relative;
	width: 99999px;
}
.list_ul_scroll li{
float: left;
}
.list_ul_scroll li img{
	width:100%;
}
.list_ul_scroll a{
	text-indent:20px;
	color:#000;
	line-height:20px;
}
.list_ul_scroll a h3{
	margin-top:5px;
	font-size:15px;
}
.list_ul_scroll a p{
	font-size:12px;
}

.indicator{
	text-align:center;
	position:absolute;
	top:5px;
	left:0;
	width:100%;
	z-index:100;
}
.indicator span{
	display:inline-block;
	background-color: #fff;
	border-radius: 4px;
	border:1px solid rgba(255,255,255,0.4);
	height: 4px;
	margin:3px;
	width: 4px;
}
.indicator span.ind_a{
	background-color:#000;
}
/******************************************************/
.list_ul_common{
	
}

.list_ul_common li{
	background-color:#F2F4F3;
	margin:5px 10px;
}

.list_ul_common li a{
	font-weight:bolder;
	display: block;
	color:#000;
	padding:13px;
	background: transparent url(../../img/pfeil_rechts.png) no-repeat scroll 97% center;
	-webkit-background-size: 10px auto;
	background-size:10px auto;
}
.list_ul_common li a p:nth-of-type(2){
	font-weight:100;
	font-size:12px;
}
