.body{
	max-width:640px;
	margin:auto;
	min-height:100%;
	background-color:#e1e0de;
	position:relative;
}




.list_ul{
	margin: 10px;
	width:260px;
	margin:auto;
	padding-top:30px;
}

/*.list_ul a{
	color:#666;
	display:block;
	background:#fff;
	line-height:35px;
	overflow:hidden;
}*/
.list_ul li{
	
}

.list_ul li a{
	border-radius:5px;
	display:block;
	height:60px;
	margin:5px;
	-webkit-box-sizing:border-box;
	background:rgba(144, 156, 159, 0.6);
	overflow:hidden;
	font-size:20px;
	color:#fff;
	position:relative;
}
.list_ul li a label{
	margin:8px;
	display:inline-block;
}
.list_ul li a small{
	display:block;
	font-size:17px;
}

.list_ul li a span[class*="icon"]{
	position:absolute;
	right:8px;
	bottom:8px;
}

.list_ul li a .imgBox{
	width:140px;
	height:50px;
	margin:5px;
	border-radius:8px;
	overflow:hidden;
}
.list_ul li a .imgBox img{
	width:100%;
	min-height:100%;
}