.body{
	max-width:640px;
	margin:auto;
	min-height:100%;
	background-color:#e1e0de;
	position:relative;
}

.body{
	display:block;
	background:#eeeeee;
}

/******************************/
.header2{
	height:160px;
	position: relative;
	background:#1e81a7;
}
.header2 hgroup{
	padding:10px 5px 60px 5px;
}
.header2 hgroup>*{
	padding:2px;
	color:#fff;
}
.header2 hgroup h2{
	font-size:18px;
}
.header2 a{
	display:inline-block;
	padding-left:10px;
	color:#fff;
}
.header2 p{
	font-size:16px;
}

.header2 figure{
	position:absolute;
	width:120px;
	height:120px;
	border:6px solid #1e81a7;
	border-radius:120px;
	background-size:100% 100%;
	background-repeat: no-repeat;
	-webkit-box-sizing:border-box;
	left:50%;
	bottom:0;
	margin-left:-60px;
	margin-bottom:-30px;
	z-index:10;
}
.list_ul{
	positoin:relative;
	background:-webkit-gradient(linear, 0 0, 100% 0, from(#1e81a7), to(#1e81a7)) no-repeat center 0;
	background-size:3px 100%;
	padding-top:80px;
}

.list_ul li{
	height:160px;
	position:relative;
	margin-top:-80px;
	background: -webkit-gradient(linear, 0 0, 100% 0, from(#1e81a7), to(transparent), color-stop(50%, #1e81a7), color-stop(50%, transparent)) no-repeat right center;
	background-size: 50% 3px;
}
.list_ul li:nth-of-type(2n){
	background: -webkit-gradient(linear,  100% 0, 0 0, from(#1e81a7), to(transparent), color-stop(50%, #1e81a7), color-stop(50%, transparent)) no-repeat left center;
	background-size: 50% 3px;
}
.list_ul li i{
	display: block;
	width:12px;
	height:12px;
	border:3px solid #fff;
	background:#1e81a7;
	border-radius:10px;
	position:absolute;
	left:50%;
	top:50%;
	-webkit-box-sizing:border-box;
	margin-left:-6px;
	margin-top:-5px;
}
/*.list_ul li i:after{
	position:absolute;
	content:"";
	display:inline-block;
	width:80px;
	height:3px;
	background:#1e81a7;
	left:0;
	top:2px;
}*/

.list_ul li:nth-of-type(4n-1){
	background:-webkit-gradient(linear, 0 0, 100% 0, from(#1e81a7), to(#1e81a7)) no-repeat right bottom;
	background-size:50%;
}
.list_ul li:nth-of-type(4n-1) a{
	color:#fff;
}


.list_ul li a{
	position:absolute;
	right:20%;
	top: 40px;
	color:#1e81a7;
	display:block;
	height:80px;
	width:80px;
	border-radius:80px;
	border:3px solid #1e81a7;
	-webkit-box-sizing:border-box;
	background-size:100% 100%;
	background-position: center center;
	margin-right:-20px;
}
.list_ul li:nth-of-type(2n) a{
	right:inherit;
	left:20%;
	margin-left:-20px;
}

.list_ul li a label{
	display: block;
	margin-top:80px;
	text-align: center;
	overflow: hidden;
}