.body{
	max-width:640px;
	margin:auto;
	min-height:100%;
	background-color:#e1e0de;
	position:relative;
}

.body{
	display:block;
	background:#e9e9e9;
	background:url(../../img/template/lib/v47_2.jpg);
}

/******************************/
.list_ul a{
	border-top:5px solid #1f1f1f;
	display:block;
	position:relative;
}
.list_ul a img{
	width:100%;
	max-height:180px;
}

.list_ul a label{
	position:absolute;
	z-index:10;
	right:0;
	top:0;
	background:red;
	width:100px;
	height:24px;
	line-height:24px;
	padding:0 15px;
	-webkit-box-sizing:border-box;
	overflow: hidden;
	text-align:center;
	font-size:18px;
	color:#fff;
	background:url(../../img/template/lib/v63_2.png) no-repeat 0 0;
	-webkit-background-size:100% 100%;
}