.body{
	max-width:640px;
	margin:auto;
	min-height:100%;
	background-color:#e1e0de;
	position:relative;
}

.body>section{
	height:100%;
	background:url(../../img/template/lib/v71_2.jpg) no-repeat 0 0;
	-webkit-background-size:100% 100%;
}

.header2>div img{
	width:100%;
	min-height:100px;
	max-height:320px;
}
/******************************/
.list_ul li{
	
}
.list_ul dl{
	text-align:center;
	line-height:20px;
	padding:10px;
}
.list_ul dl a{
	display:block;
	height:100%;
	color:#ffffff;
	background:#e77e8d;
	height:80px;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	border-radius: 100px;
	width: 80px;
	margin:auto;
	overflow: hidden;
}
/*.list_ul dl a.active, .list_ul dl a:active{
	color:#fff;
	background:#019ed3;
}*/
.list_ul dd{
	width:100%;
	display:table;
	margin:auto;
}
.list_ul div{
	text-indent:2px;
	width:100%;
	text-align:center;
	height:50px;
	vertical-align: middle;
	display:table-cell;
	font-size:40px;
}