*{	margin: 0;outline: 0;padding: 0;font-size: 100%;-webkit-tap-highlight-color: rgba(0, 0, 0, 0);}
a {text-decoration: none;}
html {height: 100%;font-size: 100%;-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;}
body {margin: 0;padding: 0;width: 100%;height: 100%;min-height: 100%;font-family: Microsoft YaHei,Helvitica,Verdana,Arial,san-serif;font-size: 14px;line-height: 1.231;-webkit-touch-callout: none;display: -webkit-box;-webkit-box-orient: vertical;-webkit-box-align: stretch;position: relative;}
.clear {font-size:0; line-height:0; height:0; clear:both; visibility:hidden; overflow:hidden; }
body{ background:#FFF;}

.weimob-copyright,.weimob-support{color: #999;}
.weimob-list{ background:#FFF; margin:2%; width:96%; padding:0 1%;}
.weimob-list-item{ height: 108px;display: inline-block; padding: 1%; background: inherit; border-top:1px solid #f5f5f5; width:28%;display:inline-block; margin:10px 2px; font-weight:bold; font-size:1rem;border-radius:8px;box-shadow:0 2px 2px #999999; background:#f5f5f5;}

.weimob-list-item-bg{
    min-height: 100%;
    text-align:center;
    padding-top:10px;
}
.weimob-list-item-bg span{
    display:inline-block;
    color:rgb(47,178,0);
    font-size:30px;
}

.weimob-list-item-image{
    position: relative;
    margin: auto;
    left : 0;
    top:20px;
    background-size: contain;
}

.weimob-list-item-box{
    top:35px;
    position: relative;
    margin: auto;
    display: table;
	
}

.weimob-list-item-line{
    padding: 0;
    margin: auto;
    text-align: center;
    max-width: 88%;
}
.weimob-list-item-title{color:#000;}