.body{
	max-width:640px;
	margin:auto;
	min-height:100%;
	background-color:#f4f4f4;
	position:relative;
}

.list_font li{
	background-color:#fff;
	width:33.3%!important;
}

.list_font div:first-child{
	height:60px;
	margin:0;
	margin-bottom:5px;
	background-color:#d87570;
	line-height:65px;
}
.list_font li p{
	color:#666666;
}

.list_font li:nth-of-type(3n+2) div:first-child{
	background:#bbd1c4;
}

.list_font li:nth-of-type(3n+3) div:first-child{
	background:#febf02;
}

.list_font li:nth-of-type(6n-2) div:first-child{
	background:#bc4040;
}
.list_font li:nth-of-type(6n-1) div:first-child{
	background:#6f9c97;
}
.list_font li:nth-of-type(6n) div:first-child{
	background:#ff8b00;
}