{if empty($item)}
{php $namesuffix = '-new[(wrapitemid)]';}
{php $itemid = '(itemid)';}
{else}
{php $namesuffix = '['.$item['id'].']';}
{php $itemid = 'egg-item-' . $item['id'];}
{/if}
<div class="alert alert-info reply-market-list">
	<table class="tb reply-news-edit">
		<tr>
			<th>是否实物：</th>
			<td id="award-inkind">
				<span class="pull-right">{if empty($item)}<a href="javascript:;" onclick="doDeleteItem('{$itemid}')">删除</a>{else}<a href="{php echo create_url('index/module/delete', array('name' => 'egg', 'id' => $item['id']))}" onclick="doDeleteItem('{$itemid}', this.href)">删除</a>{/if}</span>
				<label for="radio_1_{$itemid}" class="radio inline"><input type="radio" name="award-inkind{$namesuffix}" id="radio_1_{$itemid}" value="1" {if $item['inkind'] == 1} checked="checked"{/if}{if !empty($item)} disabled=true{/if} /> 是</label><label for="radio_0_{$itemid}" class="radio inline"><input type="radio" name="award-inkind{$namesuffix}" id="radio_0_{$itemid}" value="0" {if $item['inkind'] == 0} checked="checked"{/if}{if !empty($item)} disabled=true{/if} /> 否</label>
			</td>
		</tr>
		<tr>
			<th>奖品名称：</th>
			<td>
				<input type="text" value="{$item['title']}" style="width:275px;" name="award-title{$namesuffix}">
				<label style="display:inline-block;">中奖率：<input type="text" value="{$item['probalilty']}" name="award-probalilty{$namesuffix}" style="padding-right:30px;width:48px;"><em class="percentage">%</em></label>
				<label {if $item['inkind'] == 0}style="display:none;"{else}style="display:inline-block;"{/if} class="num">数量：<input type="text" value="{$item['total']}" style="width:45px;" name="award-total{$namesuffix}"></label>
			</td>
		</tr>
		<tr>
			<th>奖品描述：</th>
			<td>
				<textarea style="height:80px;" name="award-description{$namesuffix}" class="span7" cols="70" id="">{$item['description']}</textarea>
			</td>
		</tr>
		{if $item['inkind'] == 0}
		<tr>
			<th>兑 换 码：</th>
			<td>
				<textarea style="height:80px;" class="span7" cols="70" id="" name="award-activation-code{$namesuffix}">{$item['activation_code']}</textarea>
			</td>
		</tr>
		<tr>
			<th>激活地址：</th>
			<td>
				<input type="text" id="" class="span7" value="{$item['activation_url']}" name="award-activation-url{$namesuffix}">
			</td>
		</tr>
		{/if}
	</table>
</div>