html,body {
	height: 100%;
}

.wrapper {
	position: relative;
	margin: 0 auto;
	max-width: 640px;
	min-height: 100%;
}

.bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: -1;
	height: 100%;
}

.next-btn {
	padding: 10px 32px;
	background: #e4b558;
	background: -moz-linear-gradient(top,#e4b558 0,#da954e 100%);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0,#e4b558),color-stop(100%,#da954e));
	background: -webkit-linear-gradient(top,#e4b558 0,#da954e 100%);
	background: -o-linear-gradient(top,#e4b558 0,#da954e 100%);
	background: -ms-linear-gradient(top,#e4b558 0,#da954e 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e4b558',endColorstr='#da954e',GradientType=0);
	background: linear-gradient(top,#e4b558 0,#da954e 100%);
	color: #000;
	font-size: 20px;
	border: 1px solid #be8f30;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	font-weight: bold;
	margin-top: 20px;
}

.next-btn.hover {
	background: -moz-linear-gradient(top,#da954e 0,#e4b558 100%);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0,#da954e),color-stop(100%,#e4b558));
	background: -webkit-linear-gradient(top,#da954e 0,#e4b558 100%);
	background: -o-linear-gradient(top,#da954e 0,#e4b558 100%);
	background: -ms-linear-gradient(top,#da954e 0,#e4b558 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#da954e',endColorstr='#e4b558',GradientType=0);
	background: linear-gradient(top,#da954e 0,#e4b558 100%);
}

.loading-mask {
	width: 100%;
	height: 200%;
	position: fixed;
	background: rgba(0,0,0,0.6);
	z-index: 100;
	left: 0;
	top: 0;
	display: none;
}

.loading-mask img.gimg {
	display: block;
	margin: 160px auto 0;
}

.disabled {
	opacity: .6;
}

.page-url {
	border-top: 0;
}

.page-url-link {
	text-shadow: none;
	color: #FFF;
}
.desc-cont{
	word-wrap:break-word;word-break:break-all;
}