
#cate35 { background-color:#151515; }
#cate35 .mainmenu li { width: 33.3%; border-radius:0; margin: 0; }
#cate35 .mainmenu li a {  padding:15px 0 5px 0; }
#cate35 .mainmenu li a img { width: 46px; height: 46px; }


#cate35 .mainmenu li:nth-child(3n+2) {width: 33.4%;}

#cate35 .mainmenu li:nth-child(18n+1) {background-color:#867AD0}
#cate35 .mainmenu li:nth-child(18n+2) {background-color:#8F83D5}
#cate35 .mainmenu li:nth-child(18n+3) {background-color:#867AD0}

#cate35 .mainmenu li:nth-child(18n+4) {background-color:#6F64C0}
#cate35 .mainmenu li:nth-child(18n+5) {background-color:#786CC6}
#cate35 .mainmenu li:nth-child(18n+6) {background-color:#6F64C0}

#cate35 .mainmenu li:nth-child(18n+7) {background-color:#5B52AB}
#cate35 .mainmenu li:nth-child(18n+8) {background-color:#6359B3}
#cate35 .mainmenu li:nth-child(18n+9) {background-color:#5B52AB}

#cate35 .mainmenu li:nth-child(18n+10) {background-color:#4C449D}
#cate35 .mainmenu li:nth-child(18n+11) {background-color:#534BA5}
#cate35 .mainmenu li:nth-child(18n+12) {background-color:#4C449D}

#cate35 .mainmenu li:nth-child(18n+13) {background-color:#5B52AB}
#cate35 .mainmenu li:nth-child(18n+14) {background-color:#6359B3}
#cate35 .mainmenu li:nth-child(18n+15) {background-color:#5B52AB}

#cate35 .mainmenu li:nth-child(18n+16) {background-color:#6F64C0}
#cate35 .mainmenu li:nth-child(18n+17) {background-color:#786CC6}
#cate35 .mainmenu li:nth-child(18n+18) {background-color:#6F64C0}



