@charset "utf-8";
/*!
* Date:2014-07-07
* Author:Easydo
* ------------------------------
* Email:985091688@qq.com
* ------------------------------
* Operation record at the bottom
*/
/*reset*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0}table{border-collapse:collapse;border-spacing:0}fieldset,img{border:0}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal}ol,ul{list-style:none}caption,th{text-align:left}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}q:before,q:after{content:''}abbr,acronym{border:0;font-variant:normal}sup{vertical-align:text-top}sub{vertical-align:text-bottom}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;*font-size:100%}legend{color:#000}.clear {font-size:0; line-height:0; height:0; clear:both; overflow:hidden;}.clearfix:after {clear: both;content: ".";display: block; height: 0;visibility: hidden;} * html .clearfix { zoom: 1; } /* IE6 */ *:first-child+html .clearfix { zoom: 1; } /* IE7 */img { display:block;}
/*Basic Swiper Styles*/
html {
  height: 100%;
}
body {
  background-color: #f2f2f2;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  line-height: 1.5;
  position: relative;
  height: 100%;
}
.swiper-container {
  width: 100%;
  height: 100%;
  color: #fff;
  text-align: center;
  backface-visibility: hidden;
  overflow: hidden;
}
.swiper-pagination-switch {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 8px;
  background: #222;
  margin-right: 5px;
  opacity: 0.8;
  border: 1px solid #fff;
  cursor: pointer;
}
.swiper-visible-switch {
  background: #aaa;
}
.swiper-active-switch {
  background: #fff;
}

/*音乐控制按钮*/
.audio-controls {  cursor: pointer; height: 32px; right: 10px; position: absolute; top: 10px; width: 32px;background: url("/tpl/Wap/default/common/yingyong/tp1/audio.png") no-repeat scroll -32px 0; opacity: .9; z-index:99;}
.audio-controls.off { background-position: 0 0; border-right: medium none;}
/*滑动操作指示*/
.start { background: none repeat scroll 0 0 rgba(69, 164, 107, 0.9); border-radius: 50%; height: 34px; left: 50%; margin-left: -17px; margin-top: -34px;position: absolute;bottom: 1%; width: 34px; z-index:99; overflow: hidden;}
.start strong {display: block; width:20px; height: 20px; margin:0 auto; background: url('/tpl/Wap/default/common/yingyong/tp1/start.png') no-repeat 0 0; animation: start 1.5s ease-in-out 0s infinite normal; -webkit-animation: start 1.5s ease-in-out 0s infinite normal;}
@keyframes start {
	0%, 30% {
	    opacity: 0;
	    transform: translate3d(0, 15px, 0);
	}
	60% {
	    opacity: 1;
	    transform: translate3d(0, 5px, 0);
	}
	100% {
	    opacity: 0;
	    transform: translate3d(0, 0, 0);
	}
}
@-webkit-keyframes start {
	0%, 30% {
	    opacity: 0;
	    -webkit-transform: translate3d(0, 15px, 0);
	}
	60% {
	    opacity: 1;
	    -webkit-transform: translate3d(0, 5px, 0);
	}
	100% {
	    opacity: 0;
	    -webkit-transform: translate3d(0, 0, 0);
	}
}
/**/
.swiper-slide {position: relative;}
.swiper-slide div{position: absolute;}
.swiper-slide div p {transition:all 2s ease-in-out 0s; -webkit-transition:all 2s ease-in-out 0s; opacity:0; }
.swiper-slide-active div p:nth-child(1) {transition:all 1.2s ease-in-out .1s; -webkit-transition:all 1.2s ease-in-out .1s;}
.swiper-slide-active div p:nth-child(2) {transition:all 1.2s ease-in-out .6s; -webkit-transition:all 1.2s ease-in-out .6s;}
.swiper-slide-active div p:nth-child(3) {transition:all 1.2s ease-in-out 1.1s; -webkit-transition:all 1.2s ease-in-out 1.1s;}
.swiper-slide-active div p:nth-child(4) {transition:all 1.2s ease-in-out 1.6s; -webkit-transition:all 1.2s ease-in-out 1.6s;}
.swiper-slide-active div p {opacity:1}