body{background: #ffffff;}
.fl{ float:left;}.fr{ float:right;}.fc{ margin:0 auto; width:30%; display:inline-block; line-height:30px; text-align:center;}
.weimob-list{padding:5px; }
.weimob-list-box{position: relative;display: block;width: 98%;height:70%;overflow: hidden;background:none;padding-bottom:10px;margin:0 1%;}
.weimob-list-item{
    position: relative;
    display: block;
    height:70%;
    overflow: hidden;
    background:none;
    border-bottom:1px solid #ccc;
    background:none;
    padding-bottom:10px;
    margin:0 1%;
    padding:2%;
}

.weimob-pages{ 	width: 98%;margin:0 1%;display: block;}
.weimob-list-sau{ width:12%; float:left; display:inline-block; height:200px; border:1px solid #ccc; border-radius:10px;background-image: -webkit-gradient(linear, left top, left bottom, from( #999), to( #000 ));
background-image: -webkit-linear-gradient( #999 , #000);
background-image: -moz-linear-gradient( #999 , #000 );
background-image: -ms-linear-gradient( #999 , #000);
background-image: -o-linear-gradient( #999 , #000);
background-image: linear-gradient( #999 , #000); height:50px; color:#FFF; padding:2px;}
.weimob-list-item{
    width: 78%;
    border-radius: 15px;
    float: right;
    border: 1px solid #f5f5f5;
    box-shadow: 1px 2px 3px #666;
    display: inline-block;
}
.weimob-list-item-img{ margin:5px; height:53%; display:block;}
.weimob-list-item-img img{
    max-height: 130px;
    width: 100% !important;
}
.weimob-list-item-summary{ font-size:0.8rem; color:#333; line-height:30px; height:30px;}
.weimob-list-more{ height:30px; width:100%; margin-top:10px;}
.weimob-list-item-more{ line-height:30px; color:#000; font-size:1rem; height:30px; width:90%; display:inline-block;}
.weimob-list-item-more-icon{ width:18px; height:18px;	background-image: url(../../img/icons-18-black.png) ;background-repeat: no-repeat; border-radius: 9px;-moz-border-radius: 9px;-webkit-border-radius: 9px;right: 12px; display:inline-block;}
..weimob-list-item-block{ width:22%;}
.weimob-list-item-line{padding-left:10px; width:70%;}.weimob-copyright{ color:#000;}.weimob-copyright{ color:#000;}.icon-arrow-r {
    background-position: 	-108px 2px;
}
.mday{ display:block; color:#fff; font-size:0.8rem; text-align:center;}
.day{ font-size:1rem;}	
.years{ display:block; color:#fff; font-size:1rem; text-align:center;}
.weimob-list-item{
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.4);
}
.weimob-list-item-title{
    white-space: normal!important;
    height:27px;
    line-height:27px;
    overflow:hidden;
    padding-right:50px;
    -webkit-box-sizing:border-box;
}

.weimob-list-item-line {
    padding-left: 10px!important;
    padding-right: 10px;
}

.weimob-list-sau{
    position:absolute;
}