@charset "utf-8";

@import url("reset.css");

.view_full{position:absolute; width: 100%; height: 100%; z-index:10; min-width: 320px;}

.view_list{background-color: rgba(0,0,0,0.6); width: 95%; padding: 0px 0;}
.view_list h3{ display: -webkit-box; margin: 15px 15px 0 10px; font-size: 16px; font-weight: normal; color: #ffffff; text-shadow: 1px 2px 0 rgba(0,0,0,0.8);}
.view_list h3 em{ -webkit-box-flex:1; content: ""; display:block; height: 1px; background-color: rgba(0,0,0,0.3); margin: 12px 0 0 10px; /*box-shadow: 2px 1px 0 rgba(0,0,0,0.8);*/}

.view_list ul{margin: 15px 0 0 20px; overflow: hidden;}
.view_list li{float: left;}
.view_list li a{display: block; width: 80px; height: 42px; margin: 0 10px 15px 0; background-color: #4eb3d7; box-shadow: 3px 2px 0 rgba(0,0,0,0.8); font-size: 15px; text-align: center; line-height: 42px; color: #fff;}
.view_list li a.current{background-color: #9dc838;}

.view_house{
	position: fixed; z-index: 30; bottom:20px; left: 0; width: 100%; text-align: center;
}
.view_house a{
	display: inline-block; height: 32px; padding: 0 15px; background-color: rgba(0,0,0,0.6);
	font-size: 14px; color: #fefefe; line-height: 32px; /*text-shadow: 1px 2px 0 rgba(0,0,0,0.4);*/
}

.view_change{
	position: fixed; z-index: 40; bottom:0; left: 0; width: 100%; height: 42px; background-color: #262626; border: 1px solid #000000;
	box-shadow: 0 1px 0 rgba(255,255,255,0.2) inset; text-align: center;
}
.view_change a{
	display: block;
	font-size: 16px; color: #fefefe; line-height: 42px; text-shadow: 1px 2px 0 rgba(0,0,0,0.8);
}
.view_change a::before{
	content: ""; display: inline-block; width: 28px; height: 27px; margin-right: 5px; vertical-align: middle;
	background-size: 28px 27px;
}

.view_select {
	position: fixed;
	z-index: 20;
	width: 100%;
	height: 100%;
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	-webkit-box-pack: center;
	-webkit-box-align: center;
}

