@charset "utf-8";



body{background-color: #363634;}

.nav_top{
	display:-webkit-box;
	height:45px;
	line-height: 45px;
	border-bottom:1px solid #292929;
	-webkit-box-shadow:0 1px 2px rgba(0,0,0,0.2);
}
.nav_top li{
	-webkit-box-flex:1;
	text-align: center;
	font-size: 15px;
	border-right: 1px solid #292929;
	list-style:none;
}
.nav_top li:last-child{border-right: 0 none;}
.nav_top li a{
	display: block;
	color: #cfcfcf;
	text-decoration:none;
	background-color:#3c3c3b;
	border-top:1px solid #5d5d5c;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.3);
}
.nav_top li a.current{
	border-top:2px solid #145089;
	-webkit-box-shadow:0 1px 0 #186ec0 inset;
	background-color: #353535;
	color: #cde7ff;
}

.review_box{
	margin: 10px;
}
.review_man{
	background-color:#595959;
	padding: 10px 10px 15px;
	overflow: hidden;
	color: #cfcfcf;
}
.review_man img{
	float: left;
	border: 3px solid #ffffff;
	margin-right: 10px;
}
.review_man h3{
	font-size: 16px;
	color: #ffffff;
	margin-bottom: 5px;
}
.review_man h3 em{
	font-size: 12px;
	color: #eed500;
	padding-left: 10px;
}


.review_word{
	position: relative;
	background-color: #26292b;
	-webkit-box-shadow:0 0 3px rgba(0,0,0,0.5) inset;
	color: #a3a3a3;
	padding: 10px;
	line-height: 22px;
	text-shadow: 0 -1px 1px rgba(0,0,0,0.2);
}
.review_word::before{
	position:absolute;
	content:"";
	width:0;
	height:0;
	overflow:hidden;
	border-width:8px;
	border-style:solid;
	border-color:transparent transparent #26292b;
	left:40px;
	top:-14px;
}
.review_word h2{
	font-size: 16px;
	padding: 5px 0;
}

.impress{
	margin: 10px;
}
.impress h3{
	font-size: 14px;
	color: #909086;
	text-shadow: 0 -1px 1px rgba(0,0,0,0.2);
	padding: 5px 0;
}

.is_1{
	display: -webkit-box;
	height: 190px;
	margin-bottom: 5px;
}
.is_11{
	margin-right: 5px;
	-webkit-box-flex:1;
	background-color: #fb641c;
}
.is_12{
	display: -webkit-box;
	-webkit-box-orient:vertical;
}
.is_12_1{
	margin-bottom: 5px;
	background-color: #aadc3b;
}
.is_12_2{
	background-color: #00b6ee;
}
.is_21{
	background-color: #c93127;
}
.is_22{
	background-color: #695d8f;
}
.is_23{
	background-color: #8c5e7a;
}
.is_24, .is_25{
	background-color: #eea200;
}
.is_2{
	display: -webkit-box;
	height: 80px;
}
.is_1 a, .is_2 a{
	color: #ffffff;
	text-shadow: 0 -1px 1px rgba(0,0,0,0.2);
	text-align: center;
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	-webkit-box-pack: center;
	-webkit-box-align: center;
}
.is_2 a{
	margin-right: 5px;
}
.is_2 a:last-child{
	margin-right: 0;
}
.is_1 a span, .is_2 a span{
	display: block;
	margin: 0 auto;
	width: 35px;
	/*padding-top: 8px;*/
	font-size: 16px;
}
/*.is_1 .is_11 span{
	padding-top: 60px;
}
.is_2 .is_24 span{
	padding-top: 18px;
}*/
.is_24{
	padding: 0 10px;
}
.is_24 em{
	display: block;
	width: 50px;
	margin: 0 auto;
	font-size: 12px;
}
.is_24 em::before{
	content:"+";
	display:block;
	font-size: 50px;
	line-height: 40px;
}
.is_25{
	font-size: 12px;
	padding: 0 3px;
}
.is_25 em{
	font-size: 10px;
	display: block;
}
.is_25 i{
	font-size: 14px;
	display: block;
}

.input_impress{
	background-color: #fff;
	border: 2px solid #eeeeee;
	height: 40px;
	width: 80%;
	text-align: center;
	/*line-height: 40px;*/
	-webkit-transition: box-shadow 0.30s ease-in-out;
	-moz-transition: box-shadow 0.30s ease-in-out;
	-ms-transition: box-shadow 0.30s ease-in-out;
	-o-transition: box-shadow 0.30s ease-in-out;
	transition: box-shadow 0.30s ease-in-out;
}
.input_impress:focus, .input_impress_focus{
	outline: none;
	border-color: #f8931f;
	background-color: #f8931f;
	color: #ffffff;
}
/*底部浮动按钮 开始*/

#nav_footer{
    height:50px;
}
.nav_footer {
    height:45px;
    line-height:45px;
    text-align:center;
    position:fixed;
    z-index:1200;
    bottom:0;
    left:0;
    right:0;
    width:100%;
    max-width:640px;
    margin:auto;
    background:-webkit-gradient(linear, 0 0, 0 100%, from(#6e6e6e), to(#3c3c3c));
}
.nav_footer a{
    display:inline-block;
    width:60px;
    height:100%;
    color:#fff!important;
    background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGUAAAA4CAYAAADkbDbmAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAAOzSURBVHja7JzPa2NVFMc/uffyXhqSJm1KaUgoXUxTShEEwaKr/gWCUFA3gktdKg4uxIW4EMX5I1w5IAjC7LvtQKEIFS6VWkILklBby22avLwfLqYvpDWMzEzzY3E+mwf3ntX9cr7nnEBOpl6vMwQNvANsA2vA6zdnwqsRAfuABX4GfrXWRneDMkNEWQN+BN6UNxw5T4EPrbX2eaJ8CnwDzCwuLrKyskKpVCKfzxPHMXEcyzO+JEoplFI457i4uOD4+JhmswlwDXxprX00TJTvgM8BVldX2djYoNPp0O12CcOQOI5JkgSg/xX+n0wm0/8qpTDG4Ps+2WyWg4MDDg8P09DvrbUPB0V5D/gJYGtri1wuh3PuP4KIGK8mzl1h8vk87XabnZ2dNOx9a+3jTL1e94AjoLq5ucnc3ByXl5d0u12iKBIxRiSO1hrf95mdneX8/Jzd3V2AP4ANddNhVWu1GpVKZWiGCPdHkiTEcUwYhnS7XZxzVCoVarUawANgW5fL5S+A19bX18lkMjjn6PV6IsaYxEmSBKUUvu9zenoK0FXAGwDz8/MEQUAYhiLIGIUJw5AgCFhYWEiP3zLAEoDWWixrEtNkFBGGIVr3Z/OqAoppARJBJsOdd/fM4IUMiJOrLYPvrgYvhcmKk2Kek0bCGO3r1k8y8iTThxlMH5neJ2ddQ+1LRJkeUcS+xL6EF7YvaY2noyUW+xL7El7IvoZdCuO3LrEvsS9BhkcRRZCJXmqKIC2xtMRiX2JfgnRfIoogLbHUFEHsS+xLmF77kuFxeoZHsS+xL0G6L8kUYSSZMqzoCOMv9tJ9TWH31bevdE1FuiFBGA/pwgOl1K1M+QcoJknSF0SyZbyi3MEp4K9UCK31LcWE0ZOuBRn4N9epAfaANeccnudhjCGKIvlD6pgE0VrjeR7OufR4TwFPAFqtFoVCAd/30VpLbRmDbWmtyWazFAoFWq1WevVEl8tlC3zgnJsvFovMzMzQ6/VkldQIxRgUpFgscn19zdHREcCfwCe6XC5HQBPYbjab1Go1stmsCDGiLssYg+d55HI5SqUSxhj29/fTsI+ttb8NLmH7gWeb8VheXqZareKco9PpyBK2e+qutNYYY/qWdXJyQqPRSK8fWWs/uzs8PgT+Br5qNBre1dUVS0tLlEolPM/rL9IRQV7esowxBEFAu93GWsvZ2RlAAHwNfNuPl8WeE+Up8JG19vfBQzMk0AJvA+/ybEHbA27WTwn3wt5NQX8M/DJsBe6/AwD8QqnGrcCLgAAAAABJRU5ErkJggg==) no-repeat center center;
    background-size:53px auto;
}
.nav_footer li:first-of-type a{
    text-indent:5px;
    background-size:60px;
}
.nav_footer li:nth-of-type(2) a{
    text-indent:-5px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAG0AAAA4CAYAAAD3u3YSAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAAagSURBVHja7JxfaFvXHcc/urrStf46CgycOBZxIvs4DXECJoyCx8bGSsvGBmWwsD6VwWCwsadCwsYeBqN96UMZtFD60JeGjkLH9rKxh5CHkBFDSaFJnBNMjC07UhKTqJbkK92rK+1B9whFiRMrku37cL5wMdLx1YHz5fv7fX+/c+4NTU9Psw1eB84D30djJ1gHisAS8HfgX4D3opuklH1PZDzju1eAf/uXJmznGAfmgF8CXwIrwA93YyKz5/NvgL8B0XQ6TS6XY2pqCtd18TyPVqulqelBKBQiFArhui6u61Iqlbh37x5ra2vjwH+Bt3zl7Qpp54F3Aaanp5mZmaFWq3H//n0ajQbNZhNAE9dDmPprGAbhcJhMJsORI0dIJpPcvn07DHwCfAPcGjZpP1OEzc/Pk06nKZVK1Ot1XNel2WxqsnagNsMwsG0b27bJ5XI0Gg2WlpaSwBfAd4HKsEiLAh8CnD17llQq1SFMhURN2POh1sfzPDzP60QmIQTVapVCofCKr7hzw5jP8FU2PjExwcTEBJVKhXq93plYE9Yfms0mnudRr9epVCqcOnUKy7LwDcrvhqW0VwEOHz5MtVrthERN1mDEua7L1tYWhmFw5swZrl27BvA+8BXwv0GVNgYQiURwXZdGo6EJG0K47CYulUpx/Phx/FT0hVrzgd2jisc6hw2PuFarheM4VKtVcrkcjuOQz+fHfeJ+BDgvq7QnJtGEDZe4RqPRyW8zMzMcPHgQYN4PlYMpTRGmzcfuEGfbNoZhMDs7y+XLl/FNyVfApy+tNI3dNSaKOIC5uTk19KEQYm4o4VFfw71UGaDy24EDB5icnASIAV8KIb7zsm0sndf2wJgAlMvljjFZX1/PAp8LIV6TUno6PAaQOFV4l8tlhBCMjo5CezfgfR0eA3qpNletVqNer3P69GlFwR+EEL/uW2l6UfeOOJXfWq1WrzF5VYfHgHdMqtUqyWRSGZOob0zG+6rTurvWGntjTEKhEJOTk7iuy9ra2hjwTyHE96SUtnaPASTOdd12yDMMcrkctVqNjY2NOdpbOW/p8Bjwjolt25w8eZJoNArwKyHEO9o9Brj4VjsCjuN0O8p3hRCvv1BpehH3v2MSjUY5evQoQNgvvIUOjwEuvB3HoVKpkM1myWazAKO+MRnd1j1qIxIMY7K5ucmxY8dwHIdisSiAz4QQP5dSeto9Bpy4qakpKpUKlUrlJ8Afgb9opQUQypjYto1pmszOznL16lWAPwsh/qNzWoA7JmrXO5lMcuLECWVM3tHhMeDkKeWNjY2xuLgI8GNNWgChTiybpkk0GqVWq3HlyhU1fMHsZVWTFhzCRkZGiEQiLCwsqOH3pJQf6ZwWMBiGgWmaxONx4vE4N27cwHEcgItSygtP1WlaaftPWDgcZmRkhHg8zp07d9jc3AS4BLz9VHGtc9r+h8VwOIxlWaTTaZaXl9nY2ID2Y1JvSik7B1t1eAwIYaZpYlkWqVSK1dVVCoUCtB8JfkNK+W33/2ulBYAwwzCIRqMkk0n1FCnAtz5h67336JwWEMISiQRbW1vk83lon/F/U0r5zTNzn166YBAGcOtW5wnft6WUl7a7V/ce97kWi8ViWJbF9evX1fCfpJQXn3e/zmn7aDxisRixWIzFxUXV2b8opfzrC0sDvYR7X4tFIhFisRiJRILl5WXK5fJTtZhWWoAIMwyjY+3z+fy2tdiOSNM5be8ISyaTFAoFisXitrWYDo8B6nakUikePnyoajHbV9h6P7+nw+MeWftIJEIikaDRaCjCPOCclHKhb9XqZd07wsLhMDdv3lTDv6f9prq+YfbWDt3dEY3Ba7FIJEI8HicWi3UT9h7w0Uvnx95E2U2exuAKi8fjpFIp7t69S61WA/gHcGGQ3zf92Eo4HO5swKkjXFpxgykskUiQTqdZXV3l8ePHAAts81BFv0q7BFAoFBgdHSWRSGBZVodEjf4coiqc0+k06XSalZUVHjx4AO03rv7Ud4wMqrSLwPlCoSCi0SjZbBbTNLFt+4nXBmrVPV9ZatfZsizi8TimabK0tMSjR48AJPAa8HAYc5q0twHOAZdXVlZG6/U6hw4dIpPJ4DgOjUYDz/M0O8+Bikrq/WKFQkHZehUS3wAeDWs+5R6/Bn4AfF4sFoVfqZPJZJ6o4TSerTS1PqVSqXvIAT72TUdlmHN2F9dfA7PAb4FfAPN+8tTYOTx/HS8BH9BuUQ0dvS+edvzJPvA/n6F9FFnjxXBoN353Hf8fAMZWKbNDnwXUAAAAAElFTkSuQmCC);
    background-size:60px;
}


.box_db {
    display: -webkit-box;
    display: -moz-box;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
	font-size:13px;
	font-family: "\5FAE\8F6F\96C5\9ED1",Helvetica,serif;
}

.box_db > * {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
}
/*底部浮动按钮 结束*/